<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]
</IfModule>
<Directory "/opt/lampp/sikapi">
	AllowOverride AUthConfig Limit
	Order allow,deny
	Allow from all
	Require all granted
</Directory>